# Mac files
.DS_Store
*.swp
local/
cache/

# npm yarn
yarn/
configStore/

# git
hub

# nvim
nvim/plugin/

# testing
test/*

# apps
iterm2/
shopify/
toggl-cli/

# Z
.zsh_history
.zsh_sessions
.zcompdump
zsh/z/.z*

# netwr
nvim/.netrwhist

# testing
test/
